
* {
  font-family: 'Chakra Petch', sans-serif;
  color: black;
  text-decoration: none;
  text-align: center;
}

h2 {
  margin: 100px;
  font-size: 70px;
  padding-bottom: 50px;
  padding-top: 50px;
}
.links {
  margin: 50px;
  font-size: 50px;
}
p {
  margin: 50px;
  font-size: 70px
}


blink {
  -webkit-animation: 2s linear infinite condemned_blink_effect; // for android
  animation: 2s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}
@keyframes condemned_blink_effect {
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}
