
* {
  font-family: 'Chakra Petch', sans-serif;
  color: black;
  text-decoration: none;
  text-align: center;
}
h1 {
  margin: 60px;
}
h1 > a > img {
  width: 250px;
  height: 250px;
}

h2 {
  margin: 80px;
  font-size: 40px;
}
.links {
  margin: 50px;
  font-size: 25px;
}
br {
  display: none;
}



span {
  border-right: .05em solid;
  animation:blink-caret 0.75s steps(1) infinite;
}
.typewrite h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black ; }
}



blink {
  -webkit-animation: 0.8s linear infinite condemned_blink_effect; // for android
  animation: 0.8s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}
@keyframes condemned_blink_effect {
  0% {
      visibility: hidden;
  }
  50% {
      visibility: hidden;
  }
  100% {
      visibility: visible;
  }
}
